{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}

<style type="text/css">
.select{
	width: 90%;
	border-radius: 3px;
	border-color: black;
	border-color: transparent;
	height: 35px;
	border:none;
}

#sel option {
	font-size: 15px;
	text-transform: capitalize;
	border-color: transparent;
	border:none;
	text-decoration-color: #245;
}

#s_age{
	width: 90%;
	border-radius: 3px;
	border-color: transparent;
	border: none;
	outline: none;
	text-transform: capitalize;
	position: relative;
	font-size:15px;
	height: 30px;
}
table{

border: 1px solid black;
border-collapse: collapse;
padding: 10px;
border-radius: 10px;
}

table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
 color: darkblue;
 font: Roboto;
}

table  th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
color: #234;
}

#head_text{
color: #235453;
text-transform: uppercase;
font: Arial;
font-size: xx-large;
background-size: larger;
}

#res_feature_2{
  position: absolute;
  color: green;
  background-color: #324;
  font: sans-serif;
  font-size: large;
  height: 100px;
  left:15%;
  right: 15%;
  border-radius: 5px;
}


#res_feature_1{
  position: absolute;
  color: orange;
  background-color: #579;
  font: sans-serif;
  font-size: large;
  height: 100px;
  left:15%;
  right: 15%;
 border-radius: 5px;}

 #pic{
  border-radius: 10px;
 }
</style>
<section class="hero is-primary is-bold is-large">
 <div id="signup-box">
 			<br><br>
      <center>
       <h1 id = 'head_text'>The information about a student currently analysed by the AI system</h1>
       <br><br>
       </center>
        <table align="center">
          <tr>
            <th>Property</th>
            <th>Description</th>
          </tr>
          <tr>
            <td>Gender</td>
             <td>{{ gender }}</td>
          </tr>
          <tr>
            <td>Student age</td>
            <td>{{ age }}</td>
          </tr>
          <tr>
            <td>Meals per day</td>
            <td>{{ meals }}</td>
          </tr>
          <tr>   
            <td>Reading book status</td>
            <td>{{ book }}</td>
          </tr>
          <tr>
            <td>Parent review status</td>
            <td>{{ check_book }}</td>
          </tr>
          <tr>
            <td>Parent teacher relation</td>
            <td>{{ parent_teacher }}</td>
          </tr>
        </table>
        <br><br>
{% if prediction== 1%}
<div>
  <p id ="res_feature_1">Due to the Data Presented above the Machine learning model have analysed that a student has greater probability to drop out from college</p>
  <br><br><br><br><br><br>
  <center><img src="/static/img/drop5.jpg" height="400" width="350" id="pic"></center>
</div>
{% elif prediction==0 %}
<div>
  <p id ="res_feature_2">Due to the Data Presented above the Machine learning model have analysed that a student has greater probability to continue with the school</p>
  <br><br><br><br><br><br>
 <center><img src="/static/img/drop3.jpg" height="400" width="350" id = "pic"></center> 
{% endif %}

         <br><br>
              <p>1</p>
              <p>1</p>
   <section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Research</strong> by Scientific Reasearch group
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2019</a>
        </p>
        <p>        
          <a class="icon has-text-primary" href="https://github.com/kalebu" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon has-text-primary" href="kalebjordan.kj@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
